<div class="container">
    <div class="title">Bảng Điều Khiển</div>

    <div class="statistical">
        <div class="item">
            <img src="../../../assets/image/icon-hoc-vien.svg">
            <div class="item-info">
                <div class="name">Học viên</div>
                <div class="quantity">900</div>
            </div>
        </div>
        <div class="item">
            <img src="../../../assets/image/icon-giao-vien.svg">
            <div class="item-info">
                <div class="name">Giáo viên</div>
                <div class="quantity">900</div>
            </div>
        </div>
        <div class="item">
            <img src="../../../assets/image/icon-khoa-hoc.svg">
            <div class="item-info">
                <div class="name">Khoá học</div>
                <div class="quantity">900</div>
            </div>
        </div>
    </div>

    <div class="title">Bảng Điều Khiển</div>

    <div class="chart">
        <div class="out-line-chart-1">
            <img src="../../../assets/image/chart-1.svg" class="chart-1">
            <div class="text-chart">
                Biểu đồ doanh thu 5 tháng gần nhất
            </div>
        </div>
        <div class="out-line-chart-2">
            <img src="../../../assets/image/chart-2.svg" class="chart-2">
            <div class="text-chart">
                Biểu đồ  số lượng học sinh trong 5 tháng gần nhất
            </div>
        </div>
    </div>


</div>