<div class="layout-container" *ngIf="isAuthentication">
  <div class="sider">
      <div class="logo">
        <img src="../assets/image/logo.svg">
      </div>
    <ul>
      <li class="item-sibar"><a routerLink="/"><img src="../assets/image/icon-home.svg"> Bảng điều khiển</a></li>
      <li class="item-sibar"><a routerLink="/student"><img src="../assets/image/icon-hv.svg"> Học viên </a></li>
      <li class="item-sibar"><a routerLink="/teacher"><img src="../assets/image/icon-gv.svg"> Giáo viên</a></li>
      <li class="item-sibar"><a routerLink="/course"><img src="../assets/image/icon-ckh.svg"> Các khoá học</a></li>
      <li class="item-sibar"><a routerLink="/report"><img src="../assets/image/icon-bc.svg"> Báo cáo</a></li>
    </ul>
    <div class="logo-bot">
      <img src="../assets/image/logo.svg">
    </div>
  </div>
  
  <div class="layout">
    <router-outlet></router-outlet>
  </div>
</div>


<div class="body-login" *ngIf="!isAuthentication">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form>
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Email or Phone" id="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password">

    <button class="btn-login" (click)="login()">Đăng nhập</button>
    <div class="social">
      <div class="go">Đăng ký</div>
    </div>
  </form>
</div>